<label for="ramctl-module-select">Select module</label>
<select name="ramctl-section-select" id="ramctl-module-select" class="select custom-select cal_courses_flt ml-1 mr-auto ramctl-select">
    {{#options}}
        <option value="{{value}}">{{name}}</option>
    {{/options}}
</select>